body {
  font-family: Arial, Helvetica;
  text-align: center;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  background-image: url("../public/images/PRARA.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "izq content content lateral"
    "footer footer footer footer";
  grid-template-columns: 21.1% 28.9% 28.9% 21.1%;
}

/*ESTILOS CABECERA*/

.header {
  grid-area: header;
  align-items: center;
  display: flex;
  min-height: 300px;
  justify-content: center;
  padding-top: 30px;
}

#logoyoga {
  padding: 20px;
}

.logoimagenyoga {
  width: 190px;
  height: 250px;
}


/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/

.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;

}

.nav>ul {
  display: flex;
  list-style: none;

  align-items: center;
}


.nav li {
  padding: 0px 40px;
}

.nav a {
  display: block;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  box-sizing: border-box;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  width: 6em;
  z-index: 2;

  box-shadow: 0 0 0 7px hwb(108 62% 18%);
  /* Utilizando box-shadow para simular un borde con gradiente */

  transition: all 0.5s ease;
}

.nav a:hover {
  transform: scale(1.1, 1.1);
}

.bn39 {

  /* Agrega una transición para todos los estilos */
}

.bn39:hover {
  border-image-slice: 1;
  /* Ajusta la cantidad de slicing según tus necesidades */

}

.bn39span {
  align-items: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.bn39span:hover {
  transform: scale(1.1, 1.1);
}


/*ESTILOS PARA EL CONTENIDO PRINCIPAL*/

.content {
  padding: 10px;
  grid-area: content;
  background-color: rgb(247 247 247 /1);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 40%) 0px 0px 50px 8px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: initial;
  flex-grow: 1;
  margin: 20px auto;

  width: 100%;
  min-height: 750px;

}

.articulo-item {
  flex-grow: 1;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  margin: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  text-align: left;
  max-height: 225px;
}

.articulo-item .mascara {
  width: 20%;
  overflow: hidden;
  margin-right: 40px;
}

.articulo-item .mascara img {
  width: 100%;
}

.articulo-item h3 {
  font-size: 30px;
}

.jumbo {
  width: 93%;
  height: 95%;
  padding: 55px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  margin: 3% 4%;
  padding-bottom: 75px;
}

.jumbo h1 {
  font-size: 30px;
  color: #444
}

.jumbo p {
  display: block;
}

.jumbo .mascara {
  width: 600px;
  overflow: hidden;
  height: 550px;
}

.form-group .mascara {
  width: 100%;
  margin: 5px;
  height: 100%;
}

.form-group .mascara img {
  width: 150px;

}

.button,
button,
input[type="submit"],
input[type="button"],
.edit {
  text-decoration: none;
  width: 100px;
  background: #0b70e1;
  color: white;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.articulo-item .edit {
  margin-right: 2 0px;
}

.articulo-item .edit:hover {
  background: #e77b00;
}

.articulo-item .delete:hover {
  background: #9b0202;
}

/*ESTILOS BARRA LATERAL*/


#bar {
  min-height: 490px;
}


.bar-right {
  grid-area: lateral;
  margin: 20px 4.5%;
}

.bar-left {
  grid-area: izq;
  margin: 20px 5% 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.search {
  width: 81%;
  max-width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  margin-bottom: 20px;
  height: auto;
}

.search.post {
  padding: 10px 0px
}

.search.buscador {
  padding: 20px;
}

.search.newcourse {}

.newcourse__title {
  font-weight: 600;
  width: 100%;
  height: auto;
  margin: 0 auto;

}

.search.newThree {
  padding: 10px;
}







/* .lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea,
.edit_form input[type="text"],
.edit_form input[type="text"],
.edit_form textarea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

.edit_form {
  border-top: 1px solid #ddd;
  margin-top: 10px;
} */

/*ESTILOS PARA EL PIE DE PÁGINA*/
.footer {
  grid-area: footer;

  /* background: #d1defa;
  color: #454545; */
  border-top: 1px solid white;
  text-align: left;
  line-height: 68px;
  padding-left: 25px;
}

.footer a {
  color: #0b468a;
  text-decoration: none;
}

/* ESTILOS PARA COMPONENTE PROFILE */

.profile-container {
  max-width: 600px;
  margin: 50px 100px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.event-box {
  background-color: red;
  width: 200px;
  margin-left: 150px
}

.profile-data {
  text-align: left;
  margin-bottom: 20px;
}

.profile-data span {
  display: block;
  margin-bottom: 10px;
}


.list-end__img {
  border-radius: 50%;
}


/* practica */
.card__section {
  display: flex;
  flex-direction: row;
  width: auto;
}

.card__container {
  box-sizing: border-box;
  width: 300px;
  height: auto;
  margin: 20px 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;

}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__text {
  background-color: black;
}

.card__cta {

  display: block;
  width: 100%;
  height: 50px;
  padding-top: 15px;
}


body {
  margin: 0;
  padding: 0;
}




@media (max-width: 1085px) {

  /* .content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  } */
  .content {
    margin: 50px auto;
    max-width: none;
  }

  .bar-right {
    margin: 50px 4.5%;
  }

  .bar-left {
    margin: 50px 13.5%;
  }

  .header {
    margin-top: -20px;
    min-height: 250px;
  }


  .nav a {
    font-size: 22px;
    margin-bottom: -20px;
  }


}

@media (max-width: 650px) {

  .nav li {
    padding: 0px 20px;
  }

  .nav a {
    font-size: 22px;
    margin-bottom: -20px;
  }

  .logoimagenyoga {
    display: none;
  }

  .content {
    margin: 50px 5%;
    max-width: none;
    width: 90%;
  }

}